body {
    background-image: url('/project-portfolio-Karma-L-King/images/nature3.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}
.contact a {
    color:black;
}