
body {
    background-image: url('/project-portfolio-Karma-L-King/images/nature3.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}


h1, p{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}


a {
    text-decoration:none;
    color: red;
}

#gallery{
    
    text-align: center;
}